@font-face {
  font-family: "Montserrat";
  src: url('../src/assets/fonts/Montserrat-Medium.ttf');
}
@font-face {
  font-family: "Montserrat-light";
  src: url('../src/assets/fonts/Montserrat-Light.ttf');
}
@font-face {
  font-family: "Montserrat-thin";
  src: url('../src/assets/fonts/Montserrat-Thin.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
html,body{
  width: 100%;
  height: 100%;
}
.main{
  width: 100%;
  height: 550vh;
  background: #1A1C31;
  position: relative;
  overflow: hidden;
}
.nav{
  width: 100%;
  height: 22vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1vmax 6vmax;
  position: absolute;
  top: 4vmax;
  left: -2vmax;
  z-index: 9999;
}
.logo{
  width: 5.6vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.logo img{
  width: 100%;
  height: 100%;
}
.navlinks{
  width: 35vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.navlinks a{
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .1s;
}
.navlinks a:hover{
  color: #EEDE2C ;
}
.mode{
  width: 30vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.sun{
  width: 4vmax;
  height: 4vmax;

  object-fit: cover;
  object-position: center;
}
.sun img{
  width: 100%;
  height: 100%;
}
.sun button{
  background-color: transparent;
  border: none;
}
.hero{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.herosection{
  width: 100%;
  height: 110vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.tagline{
  width: 38vmax;
  height: 15vmax;

  position: absolute;
  top: 16.5vmax;
  left: 9vmax;
}
.tagline h1{
  font-size: 2.5rem;
  color: #fff;
}
.tagpara{
  width: 21.2vmax;
  height: 10vmax;
  position: absolute;
  top: 32vmax;
  left: 9vmax;
}
.tagpara p{
  width: 21.3vmax;
  color: #fff;
  font-size: 0.9rem;
}
.contact{
  width: 40vmax;
  height: 5vmax;
  position: absolute;
  top: 43vmax;
  left: 9vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.button{
  width: 15vmax;
  height: 100%;
  display: flex;
  align-items: center;
}
.button button{
  width: 100%;
  height: 70%;
  background-color: #EEDE2C;
  outline: none;
  border: none;
  border-radius: 20px;
  font-size: 1.3rem;
  color: #124364;
  font-weight: 700;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .2s;
}
.button button:hover{
  background-color: #124364;
  color: #EEDE2C;
}
.number{
  width: 19vmax;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #fff;
  font-size: 1.5rem;
}
.sectionleft{
  width: 45vmax;
  height: 100vh;
}
.sectionright{
  width: 87vmax;
  height: 100%;
  position: relative;
}
.mainimage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.mainimage img{
  width: 100%;
  height: 100%;
}
.pie{
  width: 15vmax;
  height: 15vmax;
  position: absolute;
  top: 27vmax;
  left: 8vmax;
  object-fit: cover;
  object-position: center;
}
.wifi{
  width: 7vmax;
  height: 7vmax;
  position: absolute;
  top: 48vmax;
  left: 17vmax;
  object-fit: cover;
  object-position: center;
}
.wifi img{
  width: 100%;
  height: 100%;
}
.groupbox{
  width: 10vmax;
  height: 10vmax;
  position: absolute;
  top: 47vmax;
  left: 44vmax;
  object-fit: cover;
  object-position: center;
}
.groupbox img{
  width: 100%;
  height: 100%;
}
.feature{
  width: 100%;
  height: 20vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.details{
  width: 25vmax;
  height: 10vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detsicon{
  width: 8vmax;
  height: 8vmax;
  object-fit: cover;
  object-position: center;
}
.detsicon img{
  width: 100%;
  height: 100%;
}
.detsline{
  width: 16.5vmax;
  height: 8vmax;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  color: #fff;
}
.detsline p{
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Montserrat-light';
}
.choose{
  width: 100%;
  height: 120vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choose-right{
  width: 50vmax;
  height: 100%; 
  position: relative;
}
.choose-left{
  width: 50vmax;
  height: 90%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.images-coll{
  width: 15vmax;
  height: 20vmax;
 
  border-radius: 10px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  top: 3vmax;
  left: 3vmax;
}
.images-coll1{
  width: 15vmax;
  height: 22vmax;

  border-radius: 10px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  top: 27vmax;
  left: 3vmax;
}
.images-coll2{
  width: 22vmax;
  height: 34vmax;

  border-radius: 10px;
  position: absolute;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  top: 10vmax;
  left: 22vmax;
}
.images-coll2 img{
  width: 100%;
  height: 100%;
}
.img-cone{
  width: 10vmax;
  height: 10vmax;
  position: absolute;
  top: 3vmax;
  left: 22vmax;
  object-fit: cover;
  object-position: center;
}
.img-semic{
  width: 25vmax;
  height: 15vmax;
  position: absolute;
  top: 46vmax;
  left: 20vmax;
  object-fit: cover;
  object-position: center;
}
.title1{
  width: 40%;
  height: 4vmax;
  margin-top: 7vmax;
  font-size: 1rem;
  color: #fff;
 
}
.title1 h3{
  font-family: "Montserrat-thin";
}
.title2{
  width: 60%;
  height: 21vmax;
  margin-top: 1vmax;
  font-size: 1.7rem;
  color: #fff;
}
.title-para{
  width: 50%;
  height: 8vmax;
  margin-top: 1vmax;
  font-size: 0.9rem;
  color: #fff;
}
.title-para p{
  font-family: 'Montserrat-thin';
}
.play{
  width: 7vmax;
  height: 7vmax;
  margin-top: 1vmax;
  object-fit: cover;
  object-position: center;
  margin-left: -1vmax;
  background-color: #887C18;
  border: none;
  border-radius: 50%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) .3s;
}
.play:hover{
  box-shadow: 1px 1px 17px #887d188f;
}
.play i{
  font-size: 6rem;
  color: #fff;
}
.team{
  width: 100%;
  height: 110vh;
  background-image: url('../src/assets/Vector.svg');
  display: flex;
  align-items: center;
  flex-direction: column;
}
.team-up{
  width: 100%;
  height: 20vmax;
  margin-top: 1vmax;
  display: flex;
  align-items: center;
}
.team-down{
  width: 100%;
  height: 30vmax;
  margin-top: 1vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.team-circle{
  width: 20vmax;
  height: 15vmax;
  object-fit: cover;
  object-position: center;
  margin-left: 10vmax;
  margin-top: -2vmax;
}
.team-title{
  width: 40vmax;
  height: 20vmax;
  font-size: 1.7rem;
  text-align: center;
  display: flex;
  align-items: center;
  color: #fff;
}
.team-title h1{
  font-family: "Montserrat";
}
.team-poly{
  width: 10vmax;
  height: 10vmax;
  object-fit: cover;
  object-position: center;
  margin-top: 5vmax;
}
.team-card{
  width: 20vmax;
  height: 25vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.team-pic{
  width: 20vmax;
  height: 20vmax;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}
.team-pic img{
width: 100%;
height: 100%;
}
.team-name{
  width: 20vmax;
  height: 4vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.team-name h2{
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: #fff;
}
.team-name h4{
  font-size: 0.9rem;
  font-family: "Montserrat-thin";
  color: #fff;
}